%div.loading
  = image_tag 'ajax-loader.gif'
.row
  .col-md-6
    .row
      %table#cat
        %tbody
          - (1..5).each do |x|
            %tr{ class: 5.downto(x).to_a.map{ |s| "size-#{s}" }.join(' ') }
              - (1..5).each do |y|
                %td{ class: 5.downto(y).to_a.map{ |s| "size-#{s}" unless s < x }.join(' ') }

    .row.start-wrapper
      %button.btn.btn-warning.col-md-9.start
        %h1 Start game
  .col-md-6
    .row.switch-row
      .col-md-3.switch-wrapper
        %select#board-size.form-control
          %option{ value: 3} 3x3
          %option{ value: 4} 4x4
          %option{ value: 5} 5x5
    .row.switch-row
      .col-md-3.switch-wrapper
        %button.switch.btn.btn-default Switch player
      .col-md-9
        %h1.player_name First player: Computer
    .row
      %table#score.col-md-11
        %tbody
          %tr
            %td.indicatorX
            %td
              %h1 Computer
            %td
              %h1.scoreX 0
          %tr
            %td.indicatorO
            %td
              %h1 You
            %td
              %h1.scoreO 0
          %tr
            %td
            %td
              %h1 Ties
            %td
              %h1.score3 0
    .row
      .alert.alert-danger.alertX
        Bad luck!! Try again!!
      .alert.alert-success.alertO
        Nice!! Well done!! Could you do it again?
      .alert.alert-warning.alert3
        Bad luck for the two of us!! Let's try again.
