.panel.panel-default
  .panel-body
    %table#cat
      %tbody
        %tr
          %td
          %td
          %td
        %tr
          %td
          %td
          %td
        %tr
          %td
          %td
          %td
