#cat{
  margin: 10px;
  tr td{
    width: 150px;
    height: 150px;
    color: #333;
    font-weight: bold;
    font-size: 100px;
    text-align: center;
    cursor: pointer;
  }
  td:nth-child(2), tr:nth-child(2){
    border: 3px solid grey;
  }
  tr:nth-child(2){
    border-left: none;
    border-right: none
  }
  td:nth-child(2){
    border-top: none;
    border-bottom: none;
  }
  td:hover{
    background-color: #f5f5f5;
    border-color: #ddd;
  }
}
.switch-wrapper{
  text-align: center;
}
.switch{
  margin: 23px 10px
}
.start-wrapper{
  text-align: center;
}
.start{
  margin: 50px 20px;
}
.indicatorX, .indicatorO{
  width: 60px;
  padding-top: 11px;
  text-align: center;
}
.alert{
  display: none;
}
